*{
  box-sizing: border-box;
}
.header{
  position: relative;
  
}
body{
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.text-header{
  color:#fff;
  padding:12px 50px;
  border:1px solid #fff;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
a{
  color:black;
  text-decoration: none;
}
.menu-header{
  display: flex;
  border-radius: 4px;
  position: absolute;
  left:50%;
  bottom:0;
  transform: translate(-50%,-50%);
  margin-bottom: -35px;
}
.header-a-menu{
  padding:10px 30px;
  background-color: bisque;
}
.header-a-menu:hover{
  background-color: aliceblue;
}
.content-image{
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding:12px 24px;
  margin-top:20px;
}
.image-content-small{
  max-width:100%;
  max-height:auto;
  width:1000px;
  height:500px;

}
.content-form{
  
 padding:10px 20px;
 
  margin:0 auto;
}
.center{
  text-align: center;
}
.input-footer{
  width:100%;
  padding:10px ;
  margin-bottom: 20px;
}
.button-footer{
  width:100%;
  padding:10px;
  background-color: rgb(143, 132, 116);
  border:none;
}
.button-footer:hover{
  background-color: red;
  color:#fff;
}
.text-footer{
  margin:30px 0;
}
a{
  text-decoration: none;
  color:black;
}